{
    "function": [
        {
            "min_temperature": 0,
            "max_temperature": 40,
            "min_speed": 0,
            "max_speed": 0,
            "interval": 600
        },
        {
            "min_temperature": 40,
            "max_temperature": 50,
            "min_speed": 15,
            "max_speed": 30,
            "interval": 600
        },
        {
            "min_temperature": 50,
            "max_temperature": 55,
            "min_speed": 30,
            "max_speed": 45,
            "interval": 600
        },
        {
            "min_temperature": 55,
            "max_temperature": 60,
            "min_speed": 45,
            "max_speed": 70,
            "interval": 600
        },
        {
            "min_temperature": 60,
            "max_temperature": 1000,
            "min_speed": 100,
            "max_speed": 100,
            "interval": 600
        }
    ]
}
