{
    "function": [
        {
            "min_temperature": 0,
            "max_temperature": 40,
            "min_speed": 0,
            "max_speed": 0,
            "interval": 10
        },
        {
            "min_temperature": 40,
            "max_temperature": 50,
            "min_speed": 25,
            "max_speed": 40,
            "interval": 10
        },
        {
            "min_temperature": 50,
            "max_temperature": 60,
            "min_speed": 40,
            "max_speed": 75,
            "interval": 10
        },
        {
            "min_temperature": 60,
            "max_temperature": 1000,
            "min_speed": 100,
            "max_speed": 100,
            "interval": 10
        }
    ]
}
